<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="An application where voting can be done on."
    />
    <meta
      name="keywords"
      content="vote, voting, application, HTML, CSS, BOOTSTRAP, JS, NodeJS, express, MongoDB"
    />
    <meta name="author" content="Lambe Boluwatife" />
    <title>E-Polls | Login</title>
    <link rel="stylesheet" href="/fontawesome/css/fontawesome.css" />
    <link rel="stylesheet" href="/fontawesome/css/solid.css" />
    <link rel="stylesheet" href="/fontawesome/css/brands.css" />
    <link rel="stylesheet" href="/css/home.css" />

    <link
      href="/assets/css/theme-mobile-app.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/Inter-UI-upright.var.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="/assets/fonts/Inter-UI.var.woff2"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <style>
      .main {
        height: 100vh;
      }
      .login-backdrop {
        background-image: url(/assets/img/vote3.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>
  </head>

  <body>
    <div class="navbar-container mb-1">
      <nav
        class="navbar navbar-expand-lg justify-content-between navbar-light border-bottom-0 bg-white"
        data-overlay
        data-sticky="top"
      >
        <div class="container">
          <a class="navbar-brand mr-0 fade-page text-primary" href="/"
            >E-Polls</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <img
              class="icon navbar-toggler-open"
              src="/assets/img/icons/interface/menu.svg"
              alt="menu interface icon"
              data-inject-svg
            />
            <img
              class="icon navbar-toggler-close"
              src="/assets/img/icons/interface/cross.svg"
              alt="cross interface icon"
              data-inject-svg
            />
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <% if(!currentUser){ %>
            <div
              class="collapse navbar-collapse justify-content-end col flex-fill px-0"
            >
              <a href="/users/login" class="btn btn-primary ml-lg-3">Sign In</a>
            </div>
            <% } else { %>
            <div
              class="collapse navbar-collapse justify-content-end col flex-fill px-0"
            >
              <div class="dropdown ml-2 show">
                <button
                  class="btn btn-danger drop-button dropdown-toggle"
                  data-toggle="dropdown-grid"
                  type="button"
                  aria-expanded="false"
                  aria-haspopup="true"
                >
                  <img
                    src="/<%= currentUser.image %>"
                    alt="user"
                    class="avatar avatar-sm"
                  />
                  <span
                    ><a class="text-light" href="#"
                      ><%= currentUser.username %></a
                    ></span
                  >
                  <img
                    class="icon"
                    src="/assets/img/icons/interface/arrow-caret.svg"
                    alt="arrow-caret interface icon"
                    data-inject-svg
                  />
                </button>

                <div class="dropdown-menu row">
                  <div class="col-auto" data-dropdown-content>
                    <div class="card card-sm card-body shadow">
                      <a href="/events/host-event" class="dropdown-item">
                        <i class="fa fa-plus mr-2" aria-hidden="true"></i>
                        Add Event
                      </a>
                      <a href="/dashboard" class="dropdown-item">
                        <i class="fa fa-user mr-2" aria-hidden="true"></i>
                        Profile
                      </a>
                      <a href="/users/logout" class="dropdown-item">
                        <i class="fa fa-unlock-alt mr-2" aria-hidden="true"></i>
                        log Out
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </nav>
    </div>

    <section class="login-backdrop">
      <div class="container mb-0">
        <div class="row">
          <div class="col-md-6 m-auto">
            <div class="card card-body">
              <h1 class="text-center text-primary">Register</h1>
              <%- include ('partials/messages') %>
              <form action="/users/register" method="POST">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    id="name"
                    name="name"
                    class="form-control"
                    placeholder="Enter Name"
                    value="<%= typeof name != 'undefined' ? name : '' %>"
                  />
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                  />
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Create Password"
                    value="<%= typeof email != 'undefined' ? password : '' %>"
                  />
                </div>

                <div class="form-group">
                  <label for="password2">Confirm Password</label>
                  <input
                    type="password"
                    id="password2"
                    name="password2"
                    class="form-control"
                    placeholder="Confirm Password"
                    value="<%= typeof email != 'undefined' ? password2 : '' %>"
                  />
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                  Register
                </button>
              </form>
              <p class="lead mt-4">
                Have An Account? <a href="/users/login">Login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include ('partials/footer') %>
  </body>
</html>
