<%- include ('../partials/header') %>
<div class="row">
  <div class="col-md-6 m-auto">
    <div class="caption-full">
      <h2><a href="#"><%= election.title %></a></h2>
      <h4><%= election.type %></h4>
      <p><%= election.description %></p>
      <div class="container">
        <h5>Candidates</h5>
        <div class="row justify-content-center">
          <div class="col">
            <table class="table table-striped table-dark table-hover">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">About</th>
                </tr>
              </thead>
              <tbody>
                <% election.candidates.forEach((candidate) => { %>
                <tr>
                  <td><%= candidate.name %></td>
                  <td><%= candidate.about %></td>
                </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <p>
        <em>Submitted By <%= election.author.name %></em>
      </p>
      <h6><%= election.candidates.length %></h6>
      <h6><%= election.slot %></h6>

      <% if (currentUser && election.author.id.equals(currentUser._id)) { %> <%
      if (election.candidates.length === election.slot) { %>
      <h5 class="lead text-small text-muted">Candidate slot full</h5>
      <% } else { %>
      <div class="well">
        <div class="text-right">
          <a
            class="btn btn-success"
            href="/elections/<%= election._id %>/candidates/new"
            >Add Candidate</a
          >
        </div>
      </div>
      <% } %>

      <a
        class="btn btn-xs btn-warning"
        href="/elections/<%= election._id %>/edit"
        >Edit</a
      >
      <form
        id="delete-form"
        action="/elections/<%= election._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-xs btn-danger">Delete</button>
      </form>
      <% } %>
    </div>
  </div>
</div>
<%- include ('../partials/footer') %>
